body { font-family: "Inter", Arial, sans-serif; margin: 20px; padding: 20px; padding: 0; background: #212121; color: white; }
h1 { font-size: 40px; }
h1 > s { color: gray; }
ol { margin: 0; padding: 0; }
li { list-style: none; font-weight: 800; font-size: 25px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
a { color: gray; text-decoration: none; transition: color 250ms ease; }
a:hover, h1 > span { color: #009fd1; text-decoration: underline; }
